body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("fondo4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para que el fondo no se desplace */
    background-size: cover; /* Para que el fondo cubra toda la ventana */
    background-position: center center; /* Opcional: centra la imagen */
    position: relative; /* Mantenemos el relative para posibles posicionamientos de elementos hijos */
    min-height: 100vh; /* Asegura que el body ocupe al menos la altura de la ventana */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3F51B5;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(247, 240, 227, 0.796);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

img {
    display: block;
    margin: 40px auto;
    max-width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3F51B5;
}

.navButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
}

.flecha {
    font-size: 25px;
    font-weight: bolder;
}
